extends layout
block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/employee')
                |  Gone Garbage Co.
            button.navbar-toggler(type='button' 
            data-toggle='collapse' 
            data-target='#navbarNavDropdown' 
            aria-controls='navbarNavDropdown' aria-expanded='false' 
            aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNavDropdown
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/employee')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/employeereg') empty
                    li.nav-item
                        a.nav-link(href='#') empty
            form.form-inline.my-2.my-lg-0
                button.btn.btn-outline-success.my-2.my-sm-0#signout
                    a(href='/login') Sign Out
    header.card-header
        h4.card-title Add Employee (Driver or Conductor) 
    form(method="POST" action='/employee/createEmployee' enctype="multipart/form-data")
        div.form-row
            div.col.form-group
                label First name 
                input.form-control(name="firstname")
            div.col.form-group
                label Last name
                input.form-control(name="lastname")
            div.col.form-group
                label User name
                input.form-control(name="username")
        div.form-row
            div.col.form-group
                label Gender
                div 
                    label.form-check.form-check-inline
                        input.form-check-input(type="radio" name="gender" value="female")
                        span.form-check-label Female 
                    label.form-check.form-check-inline
                    input.form-check-input(type="radio" name="gender" value="male")
                    span.form-check-label Male 
            div.col.form-group
                label Past incidences 
                div
                    label.form-check.form-check-inline 
                        span.form-check-label accidents    &nbsp
                        input.form-check-input(type="checkbox" checked name="pastincidences" value="accidents")
                    label.form-check.form-check-inline 
                        span.form-check-label fights   &nbsp
                        input.form-check-input(type="checkbox" checked name="pastincidences" value="fights")
                    label.form-check.form-check-inline 
                        span.form-check-label fuel thefts &nbsp
                    input.form-check-input(type="checkbox" checked name="pastincidences" value="fuelthefts")
        div.form-row
            div.col.form-group
                label Upload image
                input(type='file', name='imageupload')
            div.col.form-group
                label Role 
                select.form-control(name="role")
                    option(value="driver")  Driver
                    option(value="conductor") Conductor
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Register Employee
        div.form-row
            div.pull-right
                a(class='button', href='/employee') Employee List
                